<template>
  <div class="icon-container">
      <img :src="require(`~/assets/${src}`)" width="80" height="80" :alt="label" />
      <label v-text="label" />
  </div>
</template>

<script>
export default {
    
    name: 'IconContainer',
    
    props: {
        
        src: {
            type: String,
            required: true
        },
        
        label: {
            type: String,
            required: true
        }
    }
}
</script>

<style scoped>
.icon-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: -1;
}

</style>