<template>
  <main>
      <SlickList v-model="logos" :axis="axis" :press-delay="500" tag="section" append-to="section">
        <SlickItem v-for="({src, label}, index) in logos" :key="label" :index="index" tag="div">
          <IconContainer :src="src" :label="label" />
        </SlickItem>
      </SlickList>
  </main>
</template>

<script> 

import { SlickList, SlickItem } from 'vue-slicksort';
import IconContainer from '~/components/IconContainer.vue';

export default {
  
  name: 'Home',

  components: {
    SlickItem,
    SlickList,
    IconContainer
  },

  data() {
    return {
      logos: [
        {src: "patternfly.png", label: "patternfly logo"},
        {src: "gmail.png", label: "gmail logo"},
        {src: "nuxt.png", label: "nuxt logo"},
        {src: "vue.png", label: "vue logo"},
        {src: "react.png", label: "react logo"},
        {src: "ef-green.png", label: "ef logo"}
      ],
      browserSize: null
    };
  },

  computed: {
    axis() {
      return this.browserSize > 1000 ? 'x' : 'xy';
    }
  },
  
  mounted() {
    this.setBrowserSize();
    window.addEventListener('resize', this.setBrowserSize)
  },

  beforeDestroy() {
    window.removeEventListener('resize', this.setBrowserSize);
  },

  methods: {
    setBrowserSize() {
      this.browserSize = window.innerWidth;
    }
  },
}

</script>
<style scoped>

section {
  width: 100%;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 40px;
  height: auto;
  cursor: grab;
}

section:active {
  cursor: grabbing;
}

section > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 500px) {
  section {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (min-width: 1000px) {
  section {
    grid-template-columns: repeat(6, 1fr);
  }
}
</style>
